<!DOCTYPE html>
<html lang="en" ng-app="demo-app">
    <head>
        <title>angular-emoji-flags Demo</title>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body ng-controller="DemoCtrl as demo">

        <div class="container">
            <h2>angular-emoji-flags <small>Demo</small></h2>
            <hr>
            <br>
            <h3>Using service in controller</h3>
            <pre>flag = emojiFlags.getFlagByCountry('de')</pre>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Country</th>
                        <th>Code</th>
                        <th>Flag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="country in demo.countries">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{country.name}}</td>
                        <td>{{country.code.toUpperCase()}}</td>
                        <td>{{demo.getFlag(country.code)}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h3>Also works with a filter</h3>
            <pre ng-non-bindable>{{'de' | asEmojiFlag}}</pre>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Country</th>
                        <th>Code</th>
                        <th>Flag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="country in demo.countries">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{country.name}}</td>
                        <td>{{country.code.toUpperCase()}}</td>
                        <td>{{country.code | asEmojiFlag }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="./demo-app.js"></script>
        <script type="text/javascript" src="../dist/angular-emoji-flags.js"></script>
    </body>
</html>
